---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@font-face {
  font-family: 'f37_bella';
  src: url('./fonts/f37bella-regular-webfont.eot');
  src: url('./fonts/f37bella-regular-webfont.eot?#iefix') format('embedded-opentype'),
   url('./fonts/F37_bella/f37bella-regular-webfont.woff2') format('woff2'),
   url('./fonts/F37_bella/f37bella-regular-webfont.woff') format('woff'),
   url('./fonts/F37_bella/f37bella-regular-webfont.ttf') format('truetype'),
   url('./fonts/F37_bella/f37bella-regular-webfont.svg#f37_bellaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Karla', sans-serif;
  // background: url("./images/ocean.jpg") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  height: 100%;
  min-height:100%;
  max-height:100%;
  position: relative;
}

.site-header {
  position: relative;
  padding-top: 20px;
  .page-link {
    font-size: 22px;
  }
}

.site-title {
  font-size: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'f37_bella';
  display: block;
  margin: 5px;
}

.page-wrapper {
  margin: 20px;
}

.page-content {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  // background: rgba(255, 250, 248, 0.5);
  margin: 10px auto;
  height: 80%;
  margin: 30px;

  .home {
    padding: 20px;
  }

  .post-link {
    color: black;
    text-decoration: none;
  }

  .post {
    padding: 20px;
  }
}

.site-footer {
   bottom: 0;
   position: relative;
   font-size: 18px;
   a {
     color: #2098D1;
     text-decoration: none;
   }
}
