---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@font-face {
  font-family: 'f37_bella';
  src: url('./fonts/f37bella-regular-webfont.eot');
  src: url('./fonts/f37bella-regular-webfont.eot?#iefix') format('embedded-opentype'),
   url('./fonts/F37_bella/f37bella-regular-webfont.woff2') format('woff2'),
   url('./fonts/F37_bella/f37bella-regular-webfont.woff') format('woff'),
   url('./fonts/F37_bella/f37bella-regular-webfont.ttf') format('truetype'),
   url('./fonts/F37_bella/f37bella-regular-webfont.svg#f37_bellaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Karla', sans-serif;
  height: 100%;
  min-height:100%;
  position: relative;
}

a {
  color: rgb(51, 153, 255);
  text-decoration: none;
}

img {
  height: 500px;
}

.site-header {
  padding-top: 20px;
  text-align: center;
  .page-link {
    font-size: 22px;
  }
}

.site-title {
  font-size: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'f37_bella';
  margin: 5px;
}

.page-wrapper {
  margin: 20px;
  // text-align: center;
}

.page-content {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  // background: rgba(255, 250, 248, 0.5);
  margin: 10px auto;
  margin: 30px;
  height: 50%;
  position: relative;
  background-image: url('images/ocean.jpg');
  background: url("./images/ocean.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;


  .post-link {
    color: black;
    text-decoration: none;
  }

  .post {
    padding: 20px;
  }

  .main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 80%;
    color: white;
    text-align: center;

    h2 {
      border-radius: 1px;
      background-color: rgba(0,0,0,0.15)
    }
    a {
      color: rgb(255, 153, 204);
      text-decoration: none;
    }
    a:hover {
      color: rgb(0, 0, 0);
    }
  }
}

.site-footer {
   bottom: 0;
   position: relative;
   font-size: 18px;
   a {
     color: rgb(68, 153, 183);
     text-decoration: none;
     text-decoration: none !important;
   }
}

.social-media-list a:hover .username {
  text-decoration: none !important;
}

#email {
  width: 35px;
  height: 35px;
  margin-top: 10px;
}


@media only screen and (max-width: 800px) {
    footer.site-footer {
      text-align: center;
    }
    main.page-content {
      .home {
        ul{
          text-align: center;
        li {
          display: inline-block;
        }
        }
      }
    }
}
//
// hr {
//   border: 0;
//   height: 1px;
//   background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
//   background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
//   background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
//   background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
//   margin: 20px;
// }
